.button {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: $color-light-xl;
	padding: 15px 45px;
	border-radius: 100px;
	@include font("Georgia", 17px, 400, $color-dark-3xl);
	line-height: 1.06;
	letter-spacing: 0.06em;
	transition: all 0.4s ease-in-out;
	&:hover {
		cursor: pointer;
	}
	&_primary {
		background-color: $color-primary;
		line-height: 1.2;
		&:hover {
			background-color: $color-primary-light;
		}

		&:focus {
			background-color: $color-primary-light;
		}
	}
	&_secondary {
		border: 2px solid $color-primary;
		line-height: 1.06;
		&:hover {
			background-color: $color-primary-light;
		}

		&:focus {
			background-color: $color-primary-light;
		}
	}
	&_arrow {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 23px 19px;
		width: 52px;
		height: 52px;
		border: 2px solid #f1cdb3;
		border-radius: 100px;
		background-color: transparent;
		&:hover {
			background-color: $color-primary-light;
		}
		&:focus {
			background-color: $color-primary-light;
		}

		&_left {
			background-image: url("../../assets/images/slider/arrow.png");
			background-repeat: no-repeat;
			background-position: center;
		}
		&_right {
			background-image: url("../../assets/images/slider/arrow.png");
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(180deg);
		}
	}

	&_paginator {
		width: 52px;
		height: 52px;
		padding: 0px;
		justify-content: center;
		@include font("Georgia", 20px, 400, $color-dark-3xl);
		border: 2px solid $color-primary;
		border-radius: 100px;

		&:not([disabled], .button_paginator_active):hover {
			background: $color-primary-light;
		}

		&:focus {

		}

		&_active {
			background: $color-primary;

			&:hover {
				cursor: default;
			}
		}

		&_inactive {
			color: $color-dark-s;
			border: 2px solid $color-dark-s;
			&:hover {
				cursor: default;
			}
		}
	}

}
