.card-container {
	display: flex;
	flex-wrap: wrap;
}

.card__item {
	display: none;
	flex-direction: column;
	align-items: center;
	max-width: 270px;
	height: 435px;
	margin-right: 40px;
	margin-bottom: 30px;
	background-color: $color-light-s;
	border-radius: 9px;
	transition: all 0.4s ease-in-out;
	&:nth-child(4) {
		margin-right: 0px;
	}
	&:last-child {
		margin-right: 0px;
	}
	& .img-container {
		width: 270px;
		height: 270px;
		overflow: hidden;
		border-radius: 9px 9px 0px 0px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	h4 {
		padding: 30px 0;
	}
	&:hover {
		background-color: $color-light-xl;
		-webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
		-moz-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
		box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
		cursor: pointer;
		.button_secondary {
			background-color: $color-primary-light;
		}
	}
}

@media screen and (min-width: $breakpoint-desktop) {
	.card-container {
		.card__item {
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					display: flex;
				}
			}
		}
	}
}

@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
	.card-container {
		padding: 0 64px;
		justify-content: space-between;
		.card__item {
			margin-right: 0px;
			@for $i from 1 through 6 {
				&:nth-child(#{$i}) {
					display: flex;
				}
			}
		}
	}
}


@media screen and (max-width: calc($breakpoint-tablet - 0.5px)) {
	.card-container {
		flex-direction: column;
		padding: 0 15px;
		justify-content: space-between;
		.card__item {
			margin-right: 0px;
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					display: flex;
				}
			}
		}
	}
}