.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	&__title {
		line-height: 110%;
	}
	&__subtitle {
		@include font("Arial", 13px, 400, $color-light-xl);
		padding-top: 10px;
		letter-spacing: 0.1em;
	}

	&:focus {
		border: 1px solid #000000;
	}

	@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
		margin-right: 81px;
	}
}


.logo[data-theme="light"] {
	.logo__title {
		color: $color-dark-l;
	}
	.logo__subtitle {
		@include font("Arial", 13px, 400, $color-dark-3xl);
		line-height: 15px;
		letter-spacing: 1.4px;
		letter-spacing: 0.1em;
		padding-top: 10px;
		padding-left: 4px;
	}
}