.slider {
	width: 100%;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& .slide-container {
			display: flex;

			width: 100%;
			height: 435px;
			overflow: hidden;
			margin: 0 53px;

			& .slide {
				display: none;

				justify-content: space-between;
				margin: 0;
				padding: 0;
				flex-grow: 1;
				width: 100%;
				justify-content: center;

				&.displayed {
					display: flex;
				}
			}
		}

		& .card__item {
			display: flex;
			margin-bottom: 0;
			width: 270px;
			height: 435px;
			// @for $i from 1 through 3 {
			// 	&:nth-child(#{$i}) {
			// 		display: flex;
			// 	}
			// }
		}

		// & .slide div {
		// 	display: flex;

		// 	@for $i from 4 through 8 {
		// 		&:nth-child(#{$i}) {
		// 			display: none;
		// 		}
		// 		& .card__item:nth-child(#{$i}) {
		// 			display: none;
		// 		}
		// 	}
		// }
		@media screen and (min-width: $breakpoint-desktop) {
		}
		@media screen and (max-width: calc($breakpoint-desktop - 1px)) and (min-width: $breakpoint-tablet) {
			& .slide-container {
				margin: 0 12px;
			}
			// & .slide ul li {
			// 	@for $i from 3 through 8 {
			// 		&:nth-child(#{$i}) {
			// 			display: none;
			// 		}
			// 		& .card__item:nth-child(#{$i}) {
			// 			display: none;
			// 		}
			// 	}
			// }
			// & .slide ul {
			// 	justify-content: space-evenly;
			// 	padding: 0 12px;
			// 	gap: 7%;
			// }
		}

		@media screen and (max-width: calc($breakpoint-tablet - 0.5px)) {
			flex-wrap: wrap;
			justify-content: center;
			.slide-container {
				margin: 0;
				margin-bottom: 20px;
			}

			// & .slide ul li {
			// 	@for $i from 2 through 8 {
			// 		&:nth-child(#{$i}) {
			// 			display: none;
			// 		}
			// 		& .card__item:nth-child(#{$i}) {
			// 			display: none;
			// 		}
			// 	}
			// }

			& .slide .card__item {
				margin-bottom: 20px;
			}
			// & .slide ul {
			// 	display: flex;
			// 	justify-content: center;
			// 	width: 100%;
			// 	padding: 0;
			// 	order: 1;
			// 	flex-grow: 0;
			// }

			& .button_arrow_left {
				order: 2;
				margin-right: 80px;
			}

			& .button_arrow_right {
				order: 3;
			}
		}
	}
}
