* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-size: 15px;
	
}

h1 {
	@include font("Georgia", 32px, 400, $color-primary);
	letter-spacing: 0.0555em;
}

h2 {
	@include font("Georgia", 44px, 400, $color-dark-l);
	line-height: 130%;
}

h3 {
	@include font("Georgia", 35px, 400, $color-dark-l);
	line-height: 130%;
	letter-spacing: 0.06em;
	@media screen and (max-width: calc($breakpoint-tablet - 0.5px)) and (min-width: $breakpoint-mobile) {
		@include font("Georgia", 25px, 400, $color-dark-l);
	}
}

h4 {
	@include font("Georgia", 20px, 400, $color-dark-l);
	line-height: 115%;
	letter-spacing: 0.06em;
}

h5 {
	@include font("Georgia", 15px, 400, $color-dark-l);
	line-height: 110%;
	letter-spacing: 0.06em;
	@media screen and (max-width: calc($breakpoint-tablet - 0.5px)) {
		@include font("Georgia", 15px, 400, $color-dark-l);
		line-height: 160%;
		letter-spacing: 0.006em;
	}
	
}

p {
	@include font("Arial", 12px, 400, $color-dark-l);
	line-height: 110%;
}

.paragraph-s {
	@include font("Arial", 12px, 400, $color-dark-m);
	line-height: 150%;
	@media screen and (max-width: calc($breakpoint-tablet - 0.5px)) {
		@include font("Arial", 12px, 400, $color-dark-m);
		line-height: 18px;
	}
}

.paragraph-l {
	@include font("Arial", 15px, 400, $color-dark-xl);
	line-height: 160%;
}


.scroll-hidden {
	overflow: hidden;
}