    @font-face {
        font-family: "Georgia";
        src: local("Georgia"), url("../../assets/fonts/Georgia.ttf");
        font-weight: normal;
    }
    
    @font-face {
        font-family: "Arial";
        src: local("Arial"), url("../../assets/fonts/Arialn.ttf");
        font-weight: normal;
    }