@mixin font ($family: "Georgia", $size, $weight: 400, $color: #FFFFFF) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin bg-image ($url, $color: $START_SCREEN_GRAD_BG) {
    background-image: url($url), $START_SCREEN_GRAD_BG;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin columns ($width) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	>* {
		 flex-basis: $width;
	}
}