.about {
	background-color: #fff;
	&__inner {
		display: flex;
		justify-content: center;
		padding-top: 80px;
		padding-bottom: 100px;
		& .content {
			width: 35.8%;
			margin-left: 123px;
			@media screen and (max-width:calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
				padding-bottom: 80px;
				margin-left: 0;
				width: 60.5%;
				order: 1;
			}
		}
		h3 {
			padding-top: 14px;
			padding-right: 60px;
			padding-bottom: 25px;
		}
		.paragraph-l {
			margin-bottom: 25px;
		}
		.paragraph-l:last-child {
			margin-bottom: 0px;
		}
		@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			h3 {
				padding-top: 0px;
			}
		}
		.about__img {
			@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
				order: 2;
			}
		}
	}

	@media screen and (max-width: calc($breakpoint-tablet - 0.5px))  {
		.about__inner {
			flex-direction: column;
			padding-top: 42px;
			padding-bottom: 42.4px;
			.content {
				order: 1;
				width: 100%;
				margin: 0px auto;
				padding: 0 15px;
			}

			.about__img {
				order: 2;
				padding-top: 15px;
				max-width: 260px;
				margin: 0 auto;
			}

			h3 {
				@include font("Georgia", 25px, 400, $color-dark-l);
				line-height: 130%;
				letter-spacing: 0.06em;
				padding-top: 0;
				padding-right: 0;
				text-align: center;
			}

			.paragraph-l {
				@include font("Arial", 15px, 400, $color-dark-xl);
				line-height: 160%;
				letter-spacing: 0.01em;
				margin-bottom: 23px;
				text-align: justify;

				&:last-child {
					margin-bottom: 0px;
				}
			}

			.button_primary {
				margin-top: 42px;
		  }
		}
	}
}
