.donation {
	background-color: $color-light-l;
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 80px;
		padding-bottom: 100px;
		padding-right: 142px;
		padding-left: 143px;
		& .content {
			flex-basis: 75%;
			margin-left: 30px;
			& h3 {
				max-width: 300px;
				margin-bottom: 20px;
			}
			& h5 {
				margin-bottom: 20px;
			}
			& .paragraph-s {
				margin-top: 20px;
				font-style: italic;
				letter-spacing: 0em;
			}
		}

		

		@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
			flex-direction: column;
			padding-right: 0px;
			padding-left: 0px;
			.content {
				order: 1;
				margin: 0px auto;
				width: 54%;
			}

			.img-container {
				order: 2;
				margin-top: 60px;
				& img {
					margin: 0 auto;
					width: 71%;
				}
			}
		}

		@media screen and (max-width: calc($breakpoint-tablet - 0.5px)) {
			flex-wrap: wrap;
			padding: 42px 0;
			& .content {
				display: flex;
				flex-direction: column;
				align-items: center;
				order: 1;
				flex-basis: 100%;
				margin: 0;
				padding: 0;
				& h3 {
					padding: 0 45px;
					text-align: center;
					margin: 0 auto 20px;
				}

				& h5 {
					margin-bottom: 20px;
					text-align: center;
					line-height: 160%;
				}
				& .credit-card {
					padding: 10px 15px;
					margin-left: 10px;
					margin-right: 10px;
					img {
						margin-right: 14px;
					}
					h4 {
						font-size: 14px;
						letter-spacing: 0.06em;
					}
				}
				& .paragraph-s {
					font-style: italic;
					margin-bottom: 42px;
					text-align: justify;
					padding: 0 10px;
				}
			}

			& .img-container {
				order: 2;
				width: 100%;
				text-align: center;
				& img {
					margin: 0 auto;
					width: 87%;
				}
			}
		}
	}
}
