#pets {
	height: 100%;
}

.pets {
	background-color: $color-light-l;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-top: 80px;
		padding-bottom: 100px;
	}
	h3 {
		padding-bottom: 60px;
	}
	.button_primary {
		margin-top: 60px;
	}

	@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
		.button_primary {
			margin-top: 60px;
		}
	}

	@media screen and (max-width: calc($breakpoint-tablet - 0.5px))  {
		&__inner {
			padding: 42px 0;
			h3 {
				padding-bottom: 42px;
			}
			.button_primary {
				margin-top: 42px;
			}
		}
	}
}

.main.page-pets {
	@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
		& .pets__inner {
			padding: 80px 0 76px;
			h3 {
				padding-bottom: 30px;
			}
			
		}
	}
}
