.start-screen {
	background-color: $color-black;
	@include bg-image("../../assets/images/general/bg-gradient.png", $START_SCREEN_GRAD_BG);
	background-position: center -180px;
	&__inner {
		display: flex;
		justify-content: space-between;

		h2 {
			max-width: 310px;
			margin-bottom: 42px;
			color: $color-light-xl;
		}
		.paragraph-l {
			margin-bottom: 42px;
			color: $color-dark-s;
		}
		& .content {
			display: flex;
			flex-direction: column;
			width: 38.3%;
			max-width: 460px;
			padding-top: 13.7%;
			padding-bottom: 6%;

			&__heading {
				width: 70%;
				padding-bottom: 40px;
			}
			&__subheading {
				margin-bottom: 42px;
			}

			& .button {
				margin-right: auto;
				@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
					margin: 0 auto;
				}
			}

			@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
				width: 64.97%;
				padding-top: 30px;
				padding-bottom: 100px;
			}
		}

		& .start-screen__img {
			width: 58.2%;
			align-self: flex-end;

			@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
				width: 81.3%;
				margin-left: 139px;
			}
		}

		@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) and (min-width: $breakpoint-tablet) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media screen and (max-width: calc($breakpoint-tablet - 0.5px)) {
			flex-wrap: wrap;
			& .content {
				width: 100%;
				text-align: center;
				padding-top: 10%;
				margin: 0 auto;
				h2 {
					@include font("Georgia", 25px, 400, $color-light-xl);
					line-height: 130%;
					letter-spacing: 0.06em;
					max-width: 260px;
					margin-right: auto;
					margin-left: auto;
				}
				.paragraph-l {
					@include font("Arial", 15px, 400, $color-dark-s);
					line-height: 160%;
				}
				.button {
					margin-right: auto;
					margin-left: auto;
				}
			}

			& .start-screen__img {
				width: 100%;
				margin-left: 40px;
				margin-top: 88px;
			}
		}
	}

	@media screen and (max-width: calc($breakpoint-desktop - 0.5px)) {
		@include bg-image("../../assets/images/general/bg-main-768.png", $START_SCREEN_GRAD_BG);

	}

	@media screen and (max-width: calc($breakpoint-tablet - 0.5Px))  {
		background-color: $color-black;
		@include bg-image("../../assets/images/general/bg-main-320.png", $START_SCREEN_GRAD_BG);

	}
}
